body {
    font-family: Arial, sans-serif;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"] {
    width: calc(100% - 80px);
    padding: 10px;
    font-size: 16px;
}
input[type="submit"] {
    width: 80px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
.forecast {
    display: flex;
    overflow-x: auto;
    margin-top: 20px;
}
.day {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 0 5px;
    cursor: pointer;
}
.day:hover {
    background-color: #f0f0f0;
}
.weather-info {
    margin-top: 20px;
}
.hide {
    display: none;
}



/* */




.currentforecast img {
    width: 100px;
    height: 100px;
}

.currentforecast p {
    margin: 5px 0;
}