body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
}

#app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

#current-weather, #forecast, #more-info {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
